    * {
      box-sizing: border-box;
    }
    body {
      margin: 0;
      background: rgb(251, 250, 247);
    }
    ul,ol {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    a {
      text-decoration: none;
    }